*~
doc
*#*
*.class
*.log
msvc/quickmsg/packages
*ReleaseDLL*
x64
*.tlog
*.idb
*.pdb
*.sdf
*.opensdf
*.suo
build/Debug
build/Release
build/packages
build/quickmsg
build/quickmsg.dir
build/quickmsg_csharp
build/quickmsg_java.dir
build/quickmsg-c.dir
build/test_cclient.dir
build/test_client.dir
build/test_cpub.dir
build/test_node.dir
build/test_csub.dir
build/test_cservice.dir
build/test_pub.dir
build/test_sub.dir
build/test_service.dir